@{
    ViewData["Title"] = "About Me";
}

<h2>About Me</h2>

<p><strong>Full Name:</strong> JONRICH CANILAO</p>
<p><strong>Age:</strong> 21</p>
<p><strong>Course & Year:</strong> BSIT – 3rd Year</p>


<h3>My Expectations for Web Systems and Technologies</h3>
<ul>
    <li>Learn how to build dynamic web apps using ASP.NET Core MVC</li>
    <li>Improve my front-end and back-end development skills</li>
    <li>Understand the MVC architecture better</li>
    <li>Gain hands-on experience with C# in web development</li>
</ul>
